body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h1{
    margin-bottom: 20px;
}

.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    /* 3 images per row */
    gap: 20px;
    
    list-style-type: none;
    padding: 0;
}

.images img{
    object-fit: cover;
    width: 350px;
    height: 220px;

}